 *{
    margin: 0;
    padding: 0;
 box-sizing: border-box;
}
body{
    background-image: url(" https://images.unsplash.com/photo-1701690775149-1eb93e0e3d68?q=80&w=1228&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size: cover;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 30px;
    font-family: monospace;
    background-color: rgb(55, 6, 6);
}
.nav1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
}
.nav1 h2{
    font-size: 15px;
    width: 10px;
    font-weight: 400;
    color: rgb(244, 244, 244);
}
.nav2{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    gap: 35px;
}
.nav2 h5{
    font-size: 20px;
    display: none;
}
nav img{
    height:30px;

}

main{
    margin: 20px;
    padding: 20px;
    color: white;
    font-family: monospace;
    background-image: url("pexels-pixabay-355465.jpg");
    background-size: cover;
}
main h1{
    font-size: 40px;
    font-weight: 800;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 10px;
    margin-bottom: 30px;
    margin-left: 50px;
    height: 20vh;
    width: 250px;

}
main p{
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: monospace;
    height: 30vh;
    width: 300px;
    margin-top:10px;
    margin-left: 50px;
}

@media (max-width: 600px) {
     
    .nav1 h2{
        font-size: 20px;
    }
    .nav2 h4{
        display: none;
    }
    .nav2 h5{
        display: block;
    
    }
}